<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Puedes agregar más enlaces a hojas de estilo o archivos JavaScript aquí -->
</head>
<body>
    <div class="container">
        <h1>{{ mensaje }}</h1>
        <ul id="todo-list">
            <!-- Aquí se mostrarán las tareas -->
        </ul>
        <input type="text" id="new-task" placeholder="Agregar nueva tarea">
        <button onclick="addTask()">Agregar</button>
    </div>
    <script src="script.js"></script>

</body>
</html>
